
body{
  background-color: #188db1;
}

p {
color: white;
}
h2 {
color: white;
}
h3 {
color: white;
}
h5 {
color: white;
font-family: 'Courier New', Courier, monospace;
}
li {
color: white;
}
